.delivery {
	padding: 50px 0 100px;
}

.delivery__title {
	margin-bottom: 32px;
}

.delivery__form {
	max-width: 640px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.delivery__input {
	padding: 17px 16px;
	border-radius: 4px;
	border: none;
	outline: none;
	background-color: var(--mint);
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

.delivery__input:focus-visible {
	background-color: #e4eeeb;
}

.delivery__input::placeholder {
	color: #b8b8b8;
}

.delivery__input_address {
	grid-column: 1 / -1;
	margin-bottom: 12px;
}

.delivery__payment {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0;
	padding: 0;
	border: none;
}

.delivery__payment-title {
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 20px;
}

.delivery__payment-label {
	max-width: fit-content;
	font-size: 16px;
}

@media (any-hover: hover) {
	.delivery__input:hover {
		background-color: #e4eeeb;
	}
}

@media (max-width: 1240px) {
	.delivery__form {
		max-width: 620px;
	}
}

@media (max-width: 975px) {
	.delivery {
		padding: 30px 0 80px;
	}
	.delivery__title {
		margin-bottom: 24px;
	}
	.delivery__form {
		max-width: none;
	}
	.delivery__input {
		padding: 12px 16px;
	}
	.delivery__input_address {
		margin-bottom: 16px;
	}
}

@media (max-width: 660px) {
	.delivery {
		padding: 30px 0 60px;
	}
	.delivery__form {
		grid-template-columns: 1fr;
		grid-gap: 8px;
	}
}
