.promo {
	background-color: var(--aquamarine);
	color: var(--white);
}

.promo__container {
	min-height: 600px;
	padding: 210px 0 80px;
	background-image: url('../image/promo-1440.png');
	background-position: right 113px bottom;
	background-repeat: no-repeat;
}

.promo__title {
	max-width: 800px;
	margin-bottom: 60px;
	font-size: 88px;
	line-height: 110%;
}

.promo__link {
	display: inline-block;
	width: 202px;
	text-align: center;
}

.promo__link:active {
	border-color: var(--purple);
	color: var(--purple);
}

@media (any-hover: hover) {
	.promo__link:hover {
		border-color: #f0f0f0;
		color: #f0f0f0;
	}
	.promo__link:focus-visible {
		border-color: var(--purple);
		color: var(--purple);
	}
}

@media (max-width: 1240px) {
	.promo__container {
		padding: 172px 0 60px;
		background-image: url('../image/promo-1024.png');
		background-position: right 48px bottom;
	}
	.promo__title {
		max-width: 620px;
		margin-bottom: 40px;
		font-size: 70px;
	}
}

@media (max-width: 940px) {
	.promo__container {
		padding-top: 157px;
		background-position: right bottom;
		background-size: 203px;
	}
	.promo__title {
		max-width: 450px;
		font-size: 54px;
	}
	.promo__link {
		width: 159px;
	}
}

@media (max-width: 660px) {
	.promo__container {
		min-height: 420px;
		padding: 90px 0 250px;
		background-position: center bottom;
		background-size: 145px;
	}
	.promo__title {
		max-width: 350px;
		font-size: 40px;
	}
}
